.container
  = simple_form_for @article do |f|
    - if @article.errors.any?
      #error_explanation
        %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
        %ul
          - @article.errors.full_messages.each do |message|
            %li= message

    .row
      = f.input :name, wrapper_html: { class: 'input-field col m12' }
      = f.input :price, wrapper_html: { class: 'input-field col m12' }
      = f.label :categories
      = f.association :categories, input_html: { class: 'coco', multiple: true, style: 'width: 100%' }, wrapper_html: { class: 'input-field col m12' }, :include_blank => false
      .input-field.col.m6
        = f.input :quantity, as: :integer
      .input-field.col.m6
        .switch
          %label
            Unavailable
            = f.check_box :available
            %span.lever
            Available

    %br
    .actions
      = f.submit 'Save', class: 'btn'
      = link_to 'Back', articles_path, class: 'btn'
    

:javascript
  $(document).ready( () => { $('select').select2({multiple: true}) })